/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Arima Madurai', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #EEEEEE;
}

p {
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

.jumbotron {
  background: #ff407ce6; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#915f6d66, #915f6d); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(#915f6d66, #915f6d); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(#915f6d66, #915f6d); /* For Firefox 3.6 to 15 */
  background: radial-gradient(#915f6d66, #915f6d); /* Standard syntax */
  color: #fff;
  margin-bottom: -1px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.faq-items {
  padding-bottom: 50px;
}

.faq-question {
  display: flex;
  flex-direction: column;
}

.faq-answer {
  text-align: left;
}

.content {
  background-color: #384452;
  color: #fff;
}

.justify-text {
  text-align: justify;
}

.logo-cover {
  width: 30%;
  padding-bottom: 20px;
}

footer {
  background-color: #384452;
  color: #fff;
  overflow-x: auto;
  margin-bottom: -20px;
  padding: 20px 0 20px 0;
}

.SocialIcons {
  display: inline-flex;
  justify-content: center;
}

.SocialIcons a {
  width: 30px;
}

.glyphicon, .fa {
  font-size: 25px!important;
  margin: 5px;
  color: #F5C8D5;
}

.glyphicon:hover, .fa:hover {
  color: #fff;
}

#motto {
  font-size: 50px;
  color: #F5C8D5;
}
