/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Arima Madurai', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #EEEEEE;
}

p {
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.faq-items {
  padding-bottom: 50px;
}

.faq-question {
  display: flex;
  flex-direction: column;
}

.faq-answer {
  text-align: left;
}

.content {
  background-color: #384452;
  color: #fff;
}

.logo-cover {
  width: 30%;
  padding-bottom: 20px;
}

footer {
  background-color: #384452;
  color: #fff;
  overflow-x: auto;
  margin-bottom: -20px;
  padding: 20px 0 20px 0;
}
